.sheet-main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 5.5rem;
    height: calc(100vh - 5.5rem);
    background: linear-gradient(-200deg,  white 0%, white 10%, rgb(115, 73, 171) 85%, rgb(71, 38, 124) 95%)
}
.chapters{
    text-align: left;
}
.sheet-main section{
    border: solid red 1px;
}
